{% if page_obj.has_other_pages %}
    <div class="pegination">
        <div class="nav-links">
                {% if page_obj.has_previous %}
                    <a class="page-numbers" href="?page={{ page_obj.previous_page_number }}"><i
                            class="arrow-prev fas fa-long-arrow-alt-left" aria-hidden="true"></i></a>
                {% endif %}

                {% for p in page_obj.paginator.page_range %}
                    {% if page_obj.number == p %}
                        <span class="page-numbers current">{{ p }}</span>
                    {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                        <a class="page-numbers" href="?page={{ p }}">{{ p }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a class="page-numbers" href="?page={{ page_obj.next_page_number }}"><i
                            class="arrow-next fas fa-long-arrow-alt-right" aria-hidden="true"></i></a>
                {% endif %}
        </div>
    </div>
{% endif %}


{#<nav class="blog-nav nav nav-justified my-5">#}
{#    <a class="nav-link-prev nav-item nav-link rounded-left" href="index.html">Previous<i#}
{#            class="arrow-prev fas fa-long-arrow-alt-left"></i></a>#}
{#    <a class="nav-link-next nav-item nav-link rounded-right" href="blog-list.html">Next<i#}
{#            class="arrow-next fas fa-long-arrow-alt-right"></i></a>#}
{#</nav>#}

{#{% if page_obj.has_other_pages %}#}
{##}
{#    <nav class="blog-nav nav nav-justified my-5">#}
{#        {% for p in page_obj.paginator.range_page %}#}
{#            {% if page_obj.number == p %}#}
{#                <a class="nav-link-prev nav-item nav-link d-none rounded-left" href="{{ p }}">Previous<i#}
{#                        class="arrow-prev fas fa-long-arrow-alt-left"></i></a>#}
{#            {% else %}#}
{#                <a class="nav-link-next nav-item nav-link rounded" href="?page={{ p }}">Next<i#}
{#                        class="arrow-next fas fa-long-arrow-alt-right"></i></a>#}
{#            {% endif %}#}
{##}
{#        {% endfor %}#}
{##}
{##}
{#    </nav>#}
{##}
{#{% endif %}#}